{% extends 'layout.html.twig' %}
{% block title %}RESOW | DiscoBio{% endblock %}
{% block content %}
    <main>
        <div class="contenu-discobio">
            <section class="bio">
                <h1>Bio</h1>
                <p>Les cinq acolytes de RESOW originaire d'Evreux en Normandie distillent une potion post rock au goût doux-amer. Un mélange de riffs 
                    hypnotiques et de rythmiques tranchantes, sur lesquels se pose une voix entre le chant et la psalmodie. 
                    Un son écorché et délivré sans retenue, un phénomène beau et difforme qui ne vous laissera pas indifférent.
                    Apres un premier EP intitulé "No Human Nature" réalisé en 2018, nous avons sortie notre premier album post covid "Two Years Overdue" en 2023 ! 
                    Alors prépare tes esgourdes, ça va swinguer dans la barraque ! ou pas.... ;)</p>
            </section>
            <section class="bio">
                <h1>Discographie</h1>
            </section>
            <section class="disco">
                    <div class="row">
                        {% for album in albums %}
                            <div class="col-sm-4 mb-3 mb-sm-0">
                                <div class="card text-center">
                                        <img src="..\assets\images\album\vinyl_{{album.id}}.png" class="card-img-top" alt="...">
                                    <div class="card-body">
                                        <h5 class="card-title">{{album.title}} {{album.type}}</h5>
                                        <p class="card-text">{{album.description}}</p>
                                        <p class="card-text">{{album.price}} €</p>
                                        <a href="#" class="btn btn-primary">Acheter</a>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
            </section>
        </div>
    </main>
{% endblock %}