{% extends 'layoutAdmin.html.twig' %}

{% block title %}RESOW | Administration | Events{% endblock %}

{% block content %}
<section>
    <div class="modify-event">
        <h1>Modifier un évenement</h1>
            <table class="table table-dark table-striped">
                <tbody>
                {% for event in events %}
                    <tr>
                        <td>{{ event.city }} | {{ event.place }} | {{ event.date }} | Soldout:{{ event.isSoldout }}</td>
                        <td><a href="/admin/events/delete?id={{event.id}}">Delete</a></td>
                        <td>        
                            <form action="events/update?id={{event.id}}" method="post">
                                <input class="form-check-input" type="checkbox" name="isSoldout" value=true id="isSoldout">
                                <label class="form-check-label" for="isSoldout">is Soldout</label>
                                <input type="hidden" name="id" value="{{event.id}}">
                                <button type="submit" class="btn btn-primary">UPDATE</button>
                            </form>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
    </div>
    <div class="add-event">
        <h1>Ajouter un évenement</h1>
            <form method="post" action="events/add">
                <div class="mb-3">
                    <label for="city" class="form-label">Ville</label>
                    <input type="text" name="city" class="form-control" id="city" aria-describedby="ville"required>
                </div>
                <div class="mb-3">
                    <label for="place" class="form-label">Nom de la Salle</label>
                    <input type="text" name="place" class="form-control" id="place" required>
                </div>
                <div class="mb-3">
                    <label for="date" class="form-label">Date</label>
                    <input type="text" name="date" class="form-control" id="date" placeholder="YYYY-MM-DD" required>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
    </div>
</section>
{% endblock %}