{% extends 'layoutAdmin.html.twig' %}

{% block title %}RESOW | Administration | DiscoBio{% endblock %}

{% block content %}
<section>
    <div class="modify-album">
        <h3>Edition des Albums</h3>
            <table class="table table-dark table-striped">
                <thead>
                    <tr>
                        <th scope="col">TITLE</th>
                        <th scope="col">TYPE</th>
                        <th scope="col">NB_TRACK</th>
                        <th scope="col">PRICE</th>
                        <th scope="col">DATE</th>
                        <th scope="col">DESCRIPTION</th>
                        <th scope="col"></th>
                        <th scope="col">EDITER</th>
                    </tr>
                </thead>
                <tbody>
                {% for album in albums %}
                    <tr>
                        <td>{{ album.title }}</td>
                        <td>{{ album.type }} </td>
                        <td>{{ album.nb_track }}</td>
                        <td>{{ album.price }}</td>
                        <td>{{ album.date }}</td>
                        <td>{{ album.description }}</td>
                        <td><a href="/admin/discoBio/delete?id={{album.id}}">Delete</a></td>
                        <td><a href="discoBio/edit?id={{album.id}}">Edit</a></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
    </div>
    <div class="add-album">
        <h3>Ajouter un album</h3>
            <form method="post" action="discoBio/add" class="row g-3">
                <div class="row">
                    <div class="col-md-6">
                        <label for="title" class="form-label">Titre</label>
                        <input type="text" name="title" class="form-control" id="title" aria-describedby="ville"required>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label for="type" class="form-label">Type (format de l'album)</label>
                        <input type="text" name="type" class="form-control" id="type" placeholder="ex: Vinyle" required>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2">
                        <label for="nb_track" class="form-label">Nombre de track</label>
                        <input type="number" name="nb_track" class="form-control" id="nb_track"  required>
                    </div>
                    <div class="col-md-2">
                        <label for="price" class="form-label">Prix</label>
                        <input type="text" name="price" class="form-control" id="price"  required>
                    </div>            
                    <div class="col-md-2">
                        <label for="date" class="form-label">Date</label>
                        <input type="text" name="date" class="form-control" id="date" placeholder="YYYY-MM-DD" required>
                    </div>
                </div>
                <div class="row">   
                    <div class="col-md-6">
                        <label for="description" class="form-label">Description</label>
                        <textarea type="textarea" name="description" class="form-control" id="description"  required></textarea>
                    </div>
                </div>
                <div class="col-md-12"> 
                    <button class="btn btn-primary" type="submit">Ajouter</button>
                </div>
            </form>
    </div>
</section>
{% endblock %}
